vendor/bin/*.pid
vufind/logs
vufind/solr.in.finna.sh
vufind/*/conf/_rest_managed.json
vufind/*/core.properties
vufind/*/index
vufind/*/index.properties
vufind/*/data
vufind/*/spellShingle
vufind/*/spellchecker
.idea/*
